.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}


.tab {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 0px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding-left: 2rem;
    padding-right: 2rem;
}
#current-search{
    border-left-width: 2px;
}

#loading img{
    width: 75px;
    height: 75px;
    margin-top: 2rem;
}

.tab.active {
    background-color: rgb(232, 232, 232);
}

.tab-content {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 400px;
}

.tab-content.active-content {
    display: block;
}
.flight-info{
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    padding: 20px;
    width: 800px;
    border-radius: 5px;
    text-align: left; /* Aligns text inside the flight-info div */
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: left; /* Aligns text inside the flight-info div */
}
.flight-info p {
    font-size: 16px;
    margin: 5px 0;
}

.flight-info strong {
    color: #333;
}

.flight-info span {
    color: #007bff;
}

.no-flight {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
}
.error {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
}
.timeout {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
}

.results{
    align-items:center ;
    justify-content: center;
    padding: 1rem;
}