<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard | TrackIt</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        #return{
            display: none;
        }
        #loading{
            display: none;
            margin-top: 4rem;
        }
        #starting{
            display: block;
            margin-top: 4rem;
        }
        #results{
            display: flex;
            flex-direction: column;
            align-items: center; /* Centers the child divs horizontally */
            justify-content: center; /* Centers the child divs vertically */
            gap: 20px; /* Adds space between the flight-info cards */
            padding: 20px;
        }
    </style>
</head>
<body>
    
    
    <!-- Layout Section -->
    
    <div class="background" id="background">
        <img src="{{ url_for('static', filename='img/plane-left.png') }}" class="plane left-to-right" alt="Plane 1">
        <img src="{{ url_for('static', filename='img/plane-right.png') }}" class="plane right-to-left" alt="Plane 2">
        <div class="content">
            <!-- Display flash messages -->

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    {% if category == 'error' %}
                    <div class="flash-message">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- Logout Button and Welcome Message -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <!-- Welcome Message -->
                <h1>Welcome {{ session.get('user') }}!</h1>
                <!-- Logout Button -->
                <form action="/logout" method="get">
                    <button type="submit" class="log-out">Log Out</button>
                </form>
                
            </div>

            <!-- Description Paragraph -->
            <div class="text-center">
                <p>✈️ Welcome to your flight dashboard! 🌍 Here, you can easily search for flights to your favorite destinations, compare prices, and even track flight prices over time. 📊 Stay updated on price changes with our tracking feature and never miss a great deal! 💸 Start exploring now and let us help you plan your next adventure hassle-free! 🚀</p>
            </div>

            <!-- Search Bar Section -->
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="/dashboard" method="post" class="search-form">
                            <div class="mb-3">
                                <label for="from" class="form-label">From</label><br>
                                <select id="from" name="from" class="form-control">
                                    <!-- List of airports will go here -->
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="to" class="form-label">To</label><br>
                                <select id="to" name="to" class="form-control">
                                    <!-- List of airports will go here -->
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="departure-date" class="form-label">Departure Date</label>
                                <input type="date" class="form-control" id="departure-date" name="departure-date" required value="">
                            </div>
                            <div class="mb-3" id="return">
                                <label for="return-date" class="form-label">Return Date</label>
                                <input type="date" class="form-control" id="return-date">
                            </div>
                            <!-- Checkboxes -->
                            <div class="row mt-2">
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="directFlight" name="direct_flight">
                                    <label for="directFlight" class="form-check-label small">Direct Flight</label>
                                </div>
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="student" name="option" value="student">
                                    <label for="student" class="form-check-label small">Student</label>
                                </div>
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="Defence" name="option" value="defence">
                                    <label for="Defence" class="form-check-label small">Defence</label>
                                </div>
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="seniorCitizen" name="option" value="senior_citizen">
                                    <label for="seniorCitizen" class="form-check-label small">Senior Citizen</label>
                                </div>
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="doctorsNurse" name="option" value="doctors_nurses">
                                    <label for="doctors_nurse" class="form-check-label small">Doctors & Nurses</label>
                                </div>
                                <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="trackCheap" name="track_cheap">
                                    <label for="trackCheap" class="form-check-label small">Track Cheapest</label>
                                </div>
                                <!-- <div class="form-check col-sm-2 text-start">
                                    <input type="checkbox" class="form-check-input" id="roundTrip" name="round_trip">
                                    <label for="roundTrip" class="form-check-label small">Round Trip</label>
                                </div> -->
                            </div>
                            <!-- handling which searches to be tracked -->
                            <input type="hidden" id="trackerStorage" name="trackerStorage"> 
                            <!-- handling which trackers to  be removed -->
                            <input type="hidden" id="remove_trackers" name="remove_trackers">
                            <!-- handling which trackers to  be removed -->
                            <input type="hidden" id="options" name="options"> 
                            <div class="mb-3">
                                <button type="submit" id="search" class="btn btn-primary">Search Flights</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

    <section class="search results">
        <div class="tab-container">
            <button id="current-search" class="tab active" onclick="switchTab('current-search', 'past-searches')">Current Search</button>
            <button id="past-searches" class="tab" onclick="switchTab('past-searches', 'current-search')">Past Searches</button>
        </div>
        
        <div id="content-current-search" class="tab-content active-content">
            <div id="starting">
                {% if not result %}
                    <p>Your Dream Adventure Awaits! 🌟 Pack your bags, because an unforgettable trip is just around the corner! ✈️</p>
                {% endif %}
                </div>
            <div id="loading">
                <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="loading content" style="width: 150px; height: 150px;">
                <p>Fetching data. It may take some time. Please wait...</p>
            </div>
            <div id="results">
                {% if result and result!="null" and result!="error" and result!="timeout" %}
                    {% for flight in result %}
                    
                    <div class="flight-info" style="display: flex; flex-direction: column; gap: 10px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; width: 800px; margin: 0 auto;">
                        <!-- Flight No -->
                        <p style="text-align: left; font-size: 1.2rem;">
                            ✈️ <strong>Flight No:</strong> <span id="flight-no">{{ flight[0] }}</span>
                        </p>
                    
                        <!-- Take-Off and Landing Time -->
                        <div style="display: flex; justify-content: space-between; font-size: 1rem;">
                            <div style="display: flex; gap: 10px;">
                                ⏰ <strong>Take Off:</strong> <span id="takeoff-time">{{ flight[2] }}</span>
                            </div>
                            <div style="display: flex; gap: 10px;">
                                ⏳ <strong>Landing:</strong> <span id="landing-time">{{ flight[3] }}</span>
                            </div>
                        </div>
                    
                        <!-- Price and Tracking -->
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div>
                                <input type="checkbox" name="tracker" value="{{ loop.index0 }}" onclick="addTracker(this)">
                                <label for="tracker"><strong>Track It</strong></label>
                            </div>
                            <p style="font-size: 1.2rem; font-weight: bold;">
                                💰 <strong>Price:</strong> <span id="price">{{ flight[1] }}</span>
                            </p>
                        </div>
                    </div>
                    
                        
                    
                    <br>
                    {% endfor %}
                {% elif result=="null" %}
                    <img src="{{ url_for('static', filename='img/not-found.gif') }}" alt="no flight found">
                    <p class="no-flight">No flights were found for given queries!</p>
                    <p>Try again later.</p>
                {% elif result=="error" %}
                    <img src="{{ url_for('static', filename='img/error.gif') }}" alt="an error occured">
                    <p class="error">An Internal Error occured!</p>
                {% elif result=="timeout" %}
                    <p class="timeout">Request timed out.Server took too long to respond!</p>
                {% endif %}
            </div>
        </div>
        <div id="content-past-searches" class="tab-content">
            <div class="results">
                {% set tracked_search = session["tracked_search"] | json_loads %}
                {% if tracked_search!=[] %}
                {% for search in tracked_search %}
                <div class="flight-info" style="display: flex; flex-direction: column; gap: 10px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; width: 800px; margin: 0 auto;">
                    <!-- Date -->
                    <p style="text-align: left; font-size: 1.2rem;">
                        📅 <strong>Date:</strong> <span id="date">{{ search["date"] }}</span>
                    </p>
                
                    <!-- Flight No -->
                    <p style="text-align: left; font-size: 1.2rem;">
                        ✈️ <strong>Flight No:</strong> <span id="flight-no">{{ search["flight_no"] }}</span>
                    </p>
                
                    <!-- Take Off Time and Source -->
                    <div style="display: flex; justify-content: space-between; font-size: 1rem;">
                        ⏰ <strong>Take Off:</strong> <span id="takeoff-time">{{ search["take_off"] }}</span>
                        🛫 <strong>From:</strong> <span id="source">{{ search["source"] }}</span>
                    </div>
                
                    <!-- Landing Time and Destination -->
                    <div style="display: flex; justify-content: space-between; font-size: 1rem;">
                        ⏳ <strong>Landing:</strong> <span id="landing-time">{{ search["landing_at"] }}</span>
                        🛬 <strong>At:</strong> <span id="destination">{{ search["destination"] }}</span>
                    </div>
                
                    <!-- Price and Tracking -->
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <input type="checkbox" name="tracker" value="{{ loop.index0 }}" onclick="removeTracker(this)" checked>
                            <label for="tracker"><strong>Track It</strong></label>
                        </div>
                        <p style="font-size: 1.2rem; font-weight: bold;">
                            💰 <strong>Price:</strong> <span id="price">{{ search["price"] }}</span>
                        </p>
                    </div>
                </div>
                
                {% endfor %}
                {% else %}
                    <p>Nothing to show here.</p>
                {% endif %}
            </div>
            




        </div>
    </section>

    

        
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // adding background image
        backgroundElmnt = document.getElementById("background");
        backgroundElmnt.style.backgroundImage = `url("{{ url_for('static', filename='img/sky.png') }}")`;



        // site variables
        var trackersList = [];
        var removeTrackerList = [];
        const optionInput = document.getElementById("options");
        const searchBtn = document.getElementById('search');
        const loaderGIF = document.getElementById('loading');
        const resultElement = document.getElementById('results');
        const startingElmnt = document.getElementById('starting');
        



        // Decode HTML entities
        function decodeHtmlEntities(str) {
            if ("{{ result }}" != "timeout" && "{{ result }}" != "null" && "{{ result }}" != "error" && str !== '{{ session["tracked_search"]|tojson|safe }}' && "{{ result }}" != []){
                let cleanedData = str.replace(/&#39;/g, '"');
                console.log("first");
                console.log(cleanedData);
                return JSON.parse(cleanedData);
            }else if(str === '{{ session["tracked_search"]|tojson|safe }}'){
                let cleanedData = str.replace(/^"|"$/g, '')
                console.log("second");
                console.log(cleanedData);
                return JSON.parse(cleanedData)
            }else{
                return str
            }
            
        }




        // parsed and cleaned lists
        let queryResult = decodeHtmlEntities("{{ result }}")
        let pastSearchList = decodeHtmlEntities('{{ session["tracked_search"]|tojson|safe }}');




        

        // limit accessible date
        const departureDate = document.getElementById('departure-date');
        const currentDate = new Date().toISOString().split('T')[0];
        departureDate.setAttribute('min',currentDate);
        console.log("{{ source }}","{{ destination }}","{{ date }}","{{ option }}","{{ direct_flight }}");
        
        if ("{{ date }}"){
            departureDate.setAttribute('value',"{{ date }}");
        }else{

            departureDate.setAttribute('value',currentDate);
        };
        const studentElmnt = document.getElementById('student');
        const defenceElmnt = document.getElementById('defence');
        const seniorCitizenElmnt = document.getElementById('seniorCitizen');
        const doctorsNursesElmnt = document.getElementById('doctorsNurse');
        directFlight = document.getElementById('directFlight');
        selectedOption = "{{ option }}";

        if (selectedOption == "student"){
            studentElmnt.checked = true;
        } else if (selectedOption == "defence"){
            defenceElmnt.checked = true;
        } else if (selectedOption == "senior_citizen"){
            seniorCitizenElmnt.checked = true;
        } else if (selectedOption == "doctors_nurses"){
            doctorsNursesElmnt.checked = true;
        };
        if ("{{ direct_flight }}" == "True"){
            directFlight.checked = true;
        }




        // deselect feature of checkbox buttons
        const checkboxes = document.querySelectorAll("input[name='option']"); // Select all checkboxes

        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener("click", () => {
                if (checkbox.checked) {
                    // Deselect all other checkboxes
                    checkboxes.forEach((otherCheckbox) => {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    });
                    optionInput.value = checkbox.value; // Set the selected value
                } else {
                    optionInput.value = "null"; // Reset value if deselected
                }
                console.log(optionInput.value);
            });
        });




        // Get checkbox and input elements
        const checkbox = document.getElementById('roundTrip');
        const extraInput = document.getElementById('return');

     

        // loading content handler
        
        searchBtn.addEventListener('click',() => {
            switchTab('current-search','past-searches');
            resultElement.style.display = 'none';
            startingElmnt.style.display = 'none';
            loaderGIF.style.display = 'block';
            loaderGIF.scrollIntoView({"behavior":"smooth"});
            
        });




        // searched-results section code
        function switchTab(activeTabId, inactiveTabId) {
            // Highlight the clicked tab
            document.getElementById(activeTabId).classList.add('active');
            document.getElementById(inactiveTabId).classList.remove('active');
            
            // Show the content of the active tab
            document.getElementById('content-current-search').classList.toggle('active-content', activeTabId === 'current-search');
            document.getElementById('content-past-searches').classList.toggle('active-content', activeTabId === 'past-searches');
             
        }




        // get tracker for checked flight tags
        function addTracker(item) {
            if (item.checked){
                trackersList.push(queryResult[Number(item.value)]);

            }else{
                trackersList = trackersList.filter((value,index) => index !== Number(item.value));
            };
            const trackerInput=document.getElementById("trackerStorage");
            trackerInput.value = JSON.stringify(trackersList);
            console.log(trackerInput.value);
        };
        




        // remove tracker
        function removeTracker(item){
            if (!item.checked){
                removeTrackerList.push(pastSearchList[Number(item.value)]);

            }else{
                removeTrackerList = removeTrackerList.filter((value,index) => index === Number(item.value));
            };
            const removeTrackerInput=document.getElementById("remove_trackers");
            removeTrackerInput.value = JSON.stringify(removeTrackerList);
            console.log(removeTrackerInput.value);

        }
        




        // populating to and form fields with cities
        $(document).ready(function() {
            var airports = [
                { id: 'DEL', text: 'Delhi' },
                { id: 'BOM', text: 'Mumbai' },
                { id: 'BLR', text: 'Bangalore' },
                { id: 'JFK', text: 'New York' },
                { id: 'LHR', text: 'London' },
                { id: 'SFO', text: 'San Francisco' },
                { id: 'DXB', text: 'Dubai' },
                { id: 'HKG', text: 'Hong Kong' },
                { id: 'SYD', text: 'Sydney' },
                // Add more airports here as needed
            ];

            // Initialize Select2 for both "From" and "To" fields
            $('#from, #to').select2({
                data: airports,
                placeholder: 'Search for a city or airport',
                allowClear: false
            });
            if ("{{ source }}" && "{{ destination }}") {
            // Wait for Select2 to initialize and then set the values
                $('#from').val("{{ source }}").trigger('change');
                $('#to').val("{{ destination }}").trigger('change');
            }
        });
            

       

    </script>
</body>
</html>